{% extends 'hod_template/base_template.html' %} {% block page_title %} Examination 
{% endblock page_title %} 
{% block main_content %}
<!-- Main content -->

<div class="row">


<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="card">
      <div class="header">
        <h2>
Add Questions        
        </h2> 
      </div>
      
<h3> <a href="/admin_add_question/" style="text-decoration: none;color:rgb(59, 20, 201);" class="btn btn-warning m-t-15 waves-effect btn-block">Add Question</a> </h3>
              
          
  
      
    </div>
  </div>

  
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="card">
          <div class="header">
            <h2>
              View Questions
            </h2>

            
      
          </div>
          <h3> <a href="/admin-view-question/" style="text-decoration: none;color:rgb(59, 20, 201);" class="btn btn-warning m-t-15 waves-effect btn-block">View Question</a> </h3>

          
        </div>
      </div>




</div>
  {% endblock main_content %}