{% extends 'staff_template/base_template.html' %}
{% block page_title %}
Staff Notifications
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->

<div id="content">
  <div id="content-header">
    <div class="container-fluid">
      <!-- general form elements -->
      <div class="card card-primary">
       
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Notifications</th>
              </tr>
            </thead>
            <tbody>
              {% for notification in notifications %}
              <tr>
                <td>{{ notification.message }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>



      <!-- /.card -->
    </div>
  </div>
  {% endblock main_content %}