{% extends 'hod_template2/base_template.html' %} {% block page_title %} Examination 
{% endblock page_title %} 
{% block main_content %}
<!-- Main content -->
<div class="container-fluid">

<div class="row">


<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="card">
      <div class="header">
        <h2>
Add Questions Requirements       
        </h2> 
      </div>
      
<h3> <a href="/admin_add_requirements/" style="text-decoration: none;color:rgb(59, 20, 201);" class="btn btn-warning m-t-15 waves-effect btn-block">Add Requirements</a> </h3>
              
          
  
      
    </div>
  </div>

  
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
  <div class="card">
    <div class="header">
      <h2>
Add Questions        
      </h2> 
    </div>
    
<h3> <a href="/admin_add_questions/" style="text-decoration: none;color:rgb(59, 20, 201);" class="btn btn-warning m-t-15 waves-effect btn-block">Add Question</a> </h3>
            
        

    
  </div>
</div>

  
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="card">
          <div class="header">
            <h2>
              View Questions
            </h2>

            
      
          </div>
          <h3> <a href="/admin_view_questions/" style="text-decoration: none;color:rgb(59, 20, 201);" class="btn btn-warning m-t-15 waves-effect btn-block">View Question</a> </h3>

          
        </div>
      </div>




</div>
</div>
  {% endblock main_content %}